/* You can add global styles to this file, and also import other style files */

@import "bootstrap/scss/bootstrap";

#dois {
  margin-top: 15px;
}
#tres {
  margin-top: 15px;
}
#quatro {
  margin-top: 15px;
}
#cinco {
  margin-top: 15px;
}
#seis {
  margin-top: 15px;
}
form {

  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}
main {
  margin-top: 50px;
}
#dados {
  margin-top: 20px;
}
#batata {
  margin-top: 70px;
}
#btn {
  margin-top: 15px;
}
